body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* HEADER */

header {
    background-color: #1F2937;
    color: white;
    padding: 0 30vh;
    height: 100vh;
    
}

nav {
    display: flex;
    align-items: center;
}

header > section {
    display: flex;
    justify-content: space-between;
}

header > section:nth-of-type(1) > p {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

header img {
    height: 100%;
    width: 450px;
}

header > section:nth-of-type(1) {
    margin-bottom: 18%;
}

header > section:nth-of-type(2) {
    height: 230px;
}

header > section:nth-of-type(2) > section:nth-of-type(1) {
    width: 40%;
}



header > section:nth-of-type(2) > section:nth-of-type(1) > p:nth-of-type(1) {
    font-size: 48px;
    font-weight: bolder;
    margin: 0;
}

header > section:nth-of-type(2) > section:nth-of-type(1) > p:nth-of-type(2) {
    font-size: 18px;
    color: #e5e7eb;
    margin: 10px 0;
}

header button {
    background-color: #3882f6;
    color: white;
    width: 120px;
    border-radius: 7px;
    padding: 10px 20px;
    border: 0;
}

/* MAIN */

/* MAIN SECTION 1 */

main > section:nth-of-type(1) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    background-color: bisque;
}

main > section:nth-of-type(1) > p {
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
    margin: 0;
    padding: 70px;
}

main > section:nth-of-type(1) > section {
    display: flex;
    justify-content: center;
}

main img {
    width: 150px;
    border: 2px solid blue;
    border-radius: 10px;
}

figure {
    flex: 0;
    text-align: center;
    margin: 0 40px;
}

main > section:nth-of-type(1) > section p {
    margin: 0;
}